/**
 * objects/padding.less
 */

/* ==========================================================================
   Padding
   ========================================================================== */

/* Padding vars
   ========================================================================== */

@array: zero 0,
        sml 0.5em,
        med 1em,
        lrg 2em;

/* Generate padding
   ========================================================================== */

/**
 * Auto generate padding selectors
 */

.creatpaddingclasses(@iterator:1) when(@iterator <= length(@array)) {
  @name: extract(extract(@array, @iterator),1);

  .padding-right--@{name} { margin-right: extract(extract(@array, @iterator),2) !important; }
  .padding-bottom--@{name} { margin-bottom: extract(extract(@array, @iterator),2) !important; }
  .padding-left--@{name} { margin-left: extract(extract(@array, @iterator),2) !important; }
  .padding-top--@{name} { margin-top: extract(extract(@array, @iterator),2) !important; }
  .padding-horizontal--@{name} { margin: 0 extract(extract(@array, @iterator),2) !important; }
  .padding-vertical--@{name} { margin: extract(extract(@array, @iterator),2) 0 !important; }
  .padding-all--@{name} { margin: extract(extract(@array, @iterator),2) !important; }

  .creatpaddingclasses((@iterator + 1));
}

// The end parenthesis means the mixin class itself will not be output
// http://lesscss.org/features/#mixins-feature-not-outputting-the-mixin
.creatpaddingclasses();
